.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 5;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar-wrapper img {
  width: 150px;
}

/* NavbarLinks */
.navbar-nav {
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 35px;
  backdrop-filter: blur(10px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.navbar-nav.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.nav-link {
  transition: 0.25s ease;
  color: var(--dark-green);
}

.nav-link:hover {
  color: var(--yellow);
}

/* NavbarBtn */
.menu-toggle-btn {
  display: flex;
  flex-direction: column;
  width: 20px;
  gap: 5px;
}

.menu-toggle-btn .line {
  background: var(--dark-green);
  width: 20px;
  height: 2px;
  border-radius: 2px;
  transition: 0.25s ease;
}

.menu-toggle-btn.active .one {
  transform: translateY(7px) rotate(-45deg);
}

.menu-toggle-btn.active .two {
  transform: rotate(45deg);
}

.menu-toggle-btn.active .three {
  transform: translateY(-7px) rotate(-45deg);
}

@media (min-width: 1024px) {
  .navbar-wrapper {
    padding: 35px 0;
  }

  .navbar-nav {
    position: static;
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
    transform: translateY(0);
    padding: 0;
    flex-direction: row;
    gap: 50px;
    pointer-events: all;
  }

  .menu-toggle-btn {
    display: none;
  }
}
